<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/users}">
    <button type="submit">Referal Management</button>
</form>
<h1>Admin Dashboard</h1>
<a href="/admin/content/new">Add New Content</a>
<table>
    <tr>
        <th>Title</th>
        <th>Actions</th>
    </tr>
    <tr th:each="content : ${contents}">
        <td th:text="${content.title}"></td>
        <td>
            <a th:href="@{/admin/content/edit/{id}(id=${content.id})}">Edit</a>
            <a th:href="@{/admin/content/delete/{id}(id=${content.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
</table>


admin
<h2>All Rounds</h2>
<table>
    <thead>
    <tr>
        <th>Round ID</th>
        <th>Round Amount</th>
        <th>Round Close Time</th>
        <th>Status</th>
        <th>Wining Num</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="round : ${rounds}">
        <td th:text="${round.id}"></td>
        <td th:text="${round.roundAmount}"></td>
        <td th:text="${#temporals.format(round.roundCloseTime, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${round.status}"></td>
        <td th:text="${round.winningNumbers}"></td>
    </tr>
    </tbody>
</table>

<form th:action="@{/admin/button}" method="get">
<button type="submit">Submit</button>
</form>
</body>
</html>